NODE_ENV=development
APP_PORT=3000
APP_NAME="GENERATED"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
BACKEND_DOMAIN=http://localhost
FRONTEND_DOMAIN=http://localhost
ALLOW_ORIGIN="*"

DATABASE_TYPE=sqlite
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD='PASSWORD'
DATABASE_NAME=':memory:'
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

# Support "local", "s3"
FILE_DRIVER=local
FILE_LOCAL_PATH=./.data/photos
FILE_LOCAL_PATH_PUB=./.data/pub
MAX_FILE_SIZE=5242880
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_DEFAULT_S3_BUCKET=

MAIL_HOST=email-ssl.com.br
MAIL_PORT=465
MAIL_USER=teste@notoriun.com.br
MAIL_PASSWORD='PASSWORD'
MAIL_IGNORE_TLS=true
MAIL_SECURE=true
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=teste@notoriun.com.br
MAIL_DEFAULT_NAME=CRUSH BAR
MAIL_CLIENT_PORT=1080

SMS_TOKEN=ABC
SMS_FROM=USER-ROM
SMS_MINUTES_EXPIRATION=3

AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=1d

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

APPLE_APP_AUDIENCE=[]

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

REDIS_HOST=localhost
REDIS_PORT=6379
